.nav-tabs {
    border: none;
    margin: 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000;
    border-bottom:2px solid #b90e50;
    border-color: #ffffff #ffffff #b90e50 #fff;
    font-weight: 500;
}
.nav-link, .nav-link:hover{
    color: #000000;
}
.dashboard-table tr:hover{
    background-color: rgb(243, 243, 243);
}
.dashboard-table td{
    padding: 10px 20px;
}
.dashboard-table th {
    padding: 10px 20px;  
    text-align: center;
    border-bottom: 1px solid gray;
}
.asset-img {
    height: 90px;
    width: 90px;
}
.qr-code {
    display: flex;
    justify-content: right;
    padding: 10px 30px 0 0;
}


